[submodule ".doom.d"]
	path = .doom.d
	url = https://github.com/vonpost/.doom.d
[submodule ".xmonad"]
	path = .xmonad
	url = https://github.com/vonpost/.xmonad
[submodule "nix/secrets"]
	path = nix/secrets
	url = git@github.com:vonpost/secrets.git
[submodule "nix/MOTHER"]
	path = nix/MOTHER
	url = git@github.com:vonpost/MOTHER.git
