URxvt.font:                 xft:lucy tewi:style=Regular:size=12,\
                            xft:Efont Biwidth,\
                            xft:Unifont,\
                            xft:Unifont Upper,\
                            xft:Misc Fixed Wide
URxvt.boldFont:             xft:lucy tewi:style=Bold:size12,\
                            xft:lucy tewi:style=Regular:size12,\
                            xft:Efont Biwidth,\
                            xft:Unifont,\
                            xft:Unifont Upper,\
                            xft:Misc Fixed Wide
URxvt.italicFont:           xft:lucy tewi:style=Regular:size12,\
                            xft:lucy tewi:style=Regular:size12,\
                            xft:Efont Biwidth,\
                            xft:Unifont,\
                            xft:Unifont Upper,\
                            xft:Misc Fixed Wide
URxvt.boldItalicFont:       xft:lucy tewi:style=Bold:size12,\
                            xft:lucy tewi:style=Regular:size12,\
                            xft:Efont Biwidth,\
                            xft:Unifont,\
                            xft:Unifont Upper,\
                            xft:Misc Fixed Wide


#define bg    #000000
#define blk   #000000
#define fg    #ffe6ff
#define bblk  #8B55FE
#define red   #FF7197
#define grn   #e19382
#define ylw   #dbc164
#define blu   #25D4E2
#define mag   #783e57
#define cyn   #9efffa
#define wht   #c0bed6

! Colors
*background:   bg
*foreground:   fg
*cursorColor:  cyn

*color0:      blk
*color8:      bblk
*color1:      red
*color9:      red
*color2:      grn
*color10:     grn
*color3:      ylw
*color11:     ylw
*color4:      blu
*color12:     blu
*color5:      mag
*color13:     mag
*color6:      cyn
*color14:     cyn
*color7:      wht
*color15:     wht

URxvt.jumpScroll:           true

URxvt.saveLines:            4096

URxvt.scrollBar:            false
URxvt.scrollTtyKeypress:    true
URxvt.scrollTtyOutput:      false
URxvt.scrollWidthBuffer:    true
URxvt.scrollstyle:          plain
URxvt*fading:		    30
URxvt.urgentOnBell:         true
URxvt.visualBell:           false
URxvt*loginShell:	    true
Xft.dpi:                    96
Xft.antialias:              true
Xft.hinting:                true
Xft.rgba:                   rgb
Xft.autohint:               false
Xft.hintstyle:              hintslight
Xft.lcdfilter:              lcddefault
URxvt*cursorBlink:	    true
